
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

* {
    box-sizing: border-box;
  }
  .mobile-view{
    display: none;
  }
  .desktop-view{
    display: block;
  }
.animate {
  border-right: solid 3px #004cae;
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  color: rgba(255,255,255,.70);
  max-width: fit-content;
//   display: inline-block;
animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}
@media only screen and (max-width: 768px) {
    .animate {
      white-space: normal; /* Allow wrapping on smaller screens */
      animation: animated-text 3s steps(20, end) 1s 1 normal both,
                 animated-cursor 500ms steps(20, end) infinite;
                //  display: contents;
    }
    .mobile-view{
      display: block;
    }
    .desktop-view{
      display: none;
    }
  }


@keyframes animated-text {
    from { width: 0; }
    to { width:100%; }
  }
  
  @media only screen and (max-width: 768px) {
    @keyframes animated-text {
      from { width: 0; }
      to { width: 100%; }
    }
    
  }


/* cursor animations */
@keyframes animated-cursor {
    from { border-right-color: #004cae; }
    to { border-right-color: transparent; }
  }
.cv-btn{
    background-color:#004cae;
    color: #fff;
    font-weight: 500;
    border: none;
    padding: 5px 20px;
    border-radius: 15px;
    margin: 5px;
}
.cv-btn:hover,
.contactme-btn:hover{
    background-color:#fff;
    color: #000;
    font-weight: 500;
}
.contactme-btn{
    background-color: transparent;
    color: #fff;
    font-weight: 500;
    border: 1px solid #fff;
    padding: 5px 20px;
    border-radius: 15px;
    margin: 5px;
}


/* From Uiverse.io by 212004ALJI */ 
.glitch,.glitch::after {
  padding: 10px 50px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  position: relative;
}

.glitch::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: 'Front-End Angular Developer';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.glitch:hover::after {
  animation: glitch_4011 1s;
  text-shadow: 10 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
  background-color: transparent;
  border: 3px solid rgb(0, 255, 213);
}

.glitch:hover {
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
}

.glitch:hover {
  background-color: transparent;
  border: 1px solid rgb(0, 255, 213);
  box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
}

@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px,-10px);
  }

  10% {
    clip-path: var(--move2);
    transform: translate(-10px,10px);
  }

  20% {
    clip-path: var(--move3);
    transform: translate(10px,0px);
  }

  30% {
    clip-path: var(--move4);
    transform: translate(-10px,10px);
  }

  40% {
    clip-path: var(--move5);
    transform: translate(10px,-10px);
  }

  50% {
    clip-path: var(--move6);
    transform: translate(-10px,10px);
  }

  60% {
    clip-path: var(--move1);
    transform: translate(10px,-10px);
  }

  70% {
    clip-path: var(--move3);
    transform: translate(-10px,10px);
  }

  80% {
    clip-path: var(--move2);
    transform: translate(10px,-10px);
  }

  90% {
    clip-path: var(--move4);
    transform: translate(-10px,10px);
  }

  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}

