*{
    color: #fff;
}
.exp-container{
    padding: 20px 100px;
}
@media screen and (max-width: 768px) {
    .exp-container{
        padding: 20px;
    }
}
.exp-title{
    font-size: 60px;
    font-weight: 600;
}
.exp-company{
    font-size: 24px;
}
.exp-compcontainer{
    padding: 20px 100px;
}
@media screen and (max-width: 768px) {
    .exp-compcontainer{
        padding: 5px;
    }
    .exp-title{
        font-size: 30px;
    }
    .exp-company{
        font-size: 20px;
    }
}