<div class="exp-container">
    <h1 class="exp-title">Experience</h1>
    <div class="exp-compcontainer">
        <h1 class="exp-company">AmpleLogic Solutions</h1>
        <p style="font-style: italic;">Senior Associate - Oct 2023 - Present</p>
        <ul>
            <li>Developing the Low Code/No Code platform using Angular components, streamlining application development process and reducing time-to-market.</li>
            <li>Utilized best practices in UI to create intuitive and visually appealing interfaces, resulting in 
                improved user engagement and satisfaction. </li>
            <li>Collaborated with cross-functional teams including designers, developers and product managers 
                    to gather requirements and iterate on platform features.</li>
        </ul>
    </div>
    <div class="exp-compcontainer">
        <h1 class="exp-company">Prodapt Solutions</h1>
        <p style="font-style: italic;">Software Engineer Jan 2022 - Sept 2023</p>
        <ul>
            <li>Structured single-page applications to be highly modularized and easy to maintain using Angular.</li>
            <li>Develop front-end stack of projects using HTML, CSS, Bootstrap and Typescript with Angular.  </li>
            <li>Ensured timely deployments and smooth functioning of websites. </li>
        </ul>
    </div>
    <div class="exp-compcontainer">
        <h1 class="exp-company">Phenix Technologies</h1>
        <p style="font-style: italic;">Software Engineer Jan 2019 - Jan 2022</p>
        <ul>
            <li>Developed and maintained in-company websites and portals. </li>
            <li>Worked on front-end development tasks using HTML, CSS, JavaScript.   </li>
            <li>Used popular responsive design framework Bootstrap to create responsive and mobile-first 
                designs.  </li>
        </ul>
    </div>
</div>