*{
    color: #fff;
}
.exp-container{
    padding: 20px 100px;
}
.exp-title{
    font-size: 60px;
    font-weight: 600;
}
.exp-company{
    font-size: 24px;
}
.exp-compcontainer{
    padding: 20px 100px;
}