<h1 class="skills-title">Skills</h1>
<div class="skills">
  <div class="skills-container">
    <div class="skill-card card htmlcard">
      <img
        src="../../assets/Images/html2.png"
        alt="HTML Image"
        class="htmlImage"
      />
      <p
        style="margin-bottom: 0; color: #fff; font-size: 22px; font-weight: 600"
      >
        HTML
      </p>
    </div>
    <div class="skill-card card csscard">
      <img src="../../assets/Images/css.jpg" alt="CSS Image" class="cssImage" />
      <p style="margin-bottom: 0; color: #fff; font-size: 22px; font-weight: 600">
        CSS
      </p>
    </div>
    <div class="skill-card card jscard">
        <img src="../../assets/Images/js.png" alt="JS Image" class="jsImage" />      <p
        style="margin-bottom: 0; color: #fff; font-size: 22px; font-weight: 600"
      >
        JavaScript
      </p>
    </div>
    <div class="skill-card card angcard">
        <img src="../../assets/Images/angular.png" alt="JS Image" class="jsImage" />      <p
        style="margin-bottom: 0; color: #fff; font-size: 22px; font-weight: 600"
      >
        Angular
      </p>
    </div>
    <div class="skill-card card bscard">
        <img src="../../assets/Images/bootstrap.png" alt="JS Image" class="jsImage" />      <p
        style="margin-bottom: 0; color: #fff; font-size: 22px; font-weight: 600"
      >
        Bootstrap
      </p>
    </div>
    <div class="skill-card card angcard">
        <img src="../../assets/Images/primeng-logo.png" alt="JS Image" class="jsImage" />      <p
        style="margin-bottom: 0; color: #fff; font-size: 22px; font-weight: 600"
      >
      Prime NG
      </p>
    </div>
    <div class="skill-card card jscard">
      <img src="../../assets/Images/materialui.png" alt="JS Image" class="jsImage" />      <p
      style="margin-bottom: 0; color: #fff; font-size: 22px; font-weight: 600"
    >
    Angular Material
    </p>
  </div>
    <div class="skill-card card htmlcard">
        <img src="../../assets/Images/git.png" alt="JS Image" class="jsImage" />      <p
        style="margin-bottom: 0; color: #fff; font-size: 22px; font-weight: 600"
      >
      GIT
      </p>
    </div>
   
  </div>
</div>


