<div class="home-container">

    <!-- Header Starts here -->
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                
                <!-- Hamburger Menu Toggle Button for Mobile -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <!-- Navbar Content -->
                <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                    
                    <!-- Left-aligned Links -->
                    <div class="navbar-nav">
                        <a class="nav-link white" routerLink="/about">About</a>
                        <a class="nav-link white" routerLink="/experience">Experience</a>
                        <a class="nav-link white" routerLink="/skills">Skills</a>
                        <a class="nav-link white" routerLink="/contact">Contact Me</a>
                    </div>
                    
                    <!-- Right-aligned Links -->
                    <div class="navbar-nav">
                        <a class="nav-link white" href="https://github.com/Rehankhadir" target="_blank">GitHub</a>
                        <a class="nav-link white" href="https://www.linkedin.com/in/mohammed-rehanul-khadir-71560721a/" target="_blank">LinkedIn</a>
                    </div>
                    
                </div>
            </div>
        </nav>
    </div>

    <!-- Header ends here -->
     <!-- <app-about></app-about> -->
     <router-outlet></router-outlet>
</div>
