<div class="home-container">

    <!-- Header Starts here -->
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                
                <!-- Hamburger Menu Toggle Button for Mobile -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <!-- Navbar Content -->
                <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                    
                    <!-- Left-aligned Links -->
                    <div class="navbar-nav">
                        <a class="nav-link white each-tab" routerLink="/about" routerLinkActive="active-link">About</a>
                        <a class="nav-link white each-tab" routerLink="/experience" routerLinkActive="active-link">Experience</a>
                        <a class="nav-link white each-tab" routerLink="/skills" routerLinkActive="active-link">Tech Stack</a>
                        <a class="nav-link white each-tab" routerLink="/contact" routerLinkActive="active-link">Contact Me</a>
                    </div>
                    
                    <!-- Right-aligned Links -->
                    <div class="navbar-nav">
                       
                        <a class="Btn"  href="../../assets/resume.pdf" target="_blank">
                            <svg class="svgIcon" viewBox="0 0 384 512" height="1em" xmlns="http://www.w3.org/2000/svg"><path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"></path></svg>
                            <span class="icon2"></span>
                            <!-- <span class="tooltip">Download</span> -->
                        </a>

                        <a class="nav-link white each-tab" href="https://github.com/Rehankhadir" target="_blank">GitHub</a>
                        <a class="nav-link white each-tab" href="https://www.linkedin.com/in/mohammed-rehanul-khadir-71560721a/" target="_blank">LinkedIn</a>
                    </div>
                    
                </div>
            </div>
        </nav>
    </div>

    <!-- Header ends here -->
     <!-- <app-about></app-about> -->
     <router-outlet></router-outlet>
</div>
